body{
    font-family: Roboto, Arial, sans-serif;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #ffffff;
    padding: 10px;
    margin: 0;
}

.hero {
    font-size: 32pt;
    font-weight: 900;
    margin: 0;
    padding: 10px;
}

.sub {
    font-size: 16pt;
    color: #e5e7eb;
    margin: 0;
    padding: 10px;
}

.h-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    margin-left: 10px;
}

.links{
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.h-container {
    display: flex;
    align-items: center;
}

.h-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.signup-top {
    background-color: #3882f5;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
    margin: 10px;
}

.img {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

ul {
    display: flex;
    list-style: none;
    margin: 10px 10px;
}

.first {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    font-weight: bold;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0px 5px 15px 5px;
    padding: 40px 50px;
    background-color: #3882f5;
    color: white;
    font-weight: bold;
}

.wrapper {
    display: flex;
    flex-direction: column;
}